*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.headpart {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    padding: 40px;
  }

.secnav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    position: sticky;
    top: 46px;
    background-color: white;
}
#filterbtn{
    display: flex;
    gap: 10px;
    align-items: center;
    background: none;
    outline: none;
    border: none;
    background: transparent;
    width: 100px;
    height: 40px;
    align-items: center;
}
.filter {
    width: 130px;
    display: flex;
    justify-content: center;
  }
  #sortbtn{
    display: flex;
    gap: 10px;
    align-items: center;
    background: none;
    outline: none;
    border: none;
    background: transparent;
    width: 100px;
    height: 40px;
    align-items: center;
}
.sortby {
    width: 130px;
    display: flex;
    justify-content: center;
  }
  .product-catlog {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    justify-content: space-between;
  }

  .productcard {
    width: calc(25%);
position: relative;
    
  }

  .pimage img {
    width: 100%;
    height: auto;
    z-index: -1px;
  }
  #new{
    border: 1px solid black;
    outline: none;
    background-color: transparent;
    width: 40px;
  }
  .product-info{
    position: absolute;
    bottom: 10px;
    
  }
  .product-title{
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
 .info{
    width: 200px;
    font-size: 13px;
    font-weight: bold;
  }
  .newbtn{
position: absolute;
  }