  
  *{
    margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  /* announcment */
  .navbar .menuitem {
      display: none;
  }

  .navbar .menuitem2 {
      display: none;
  }

  .video2 {
      display: none;
  }

  .video3 {
      display: none;
  }
  .collections-slider{
    display: none;
  }
  .drop{
    display: none;
  }

  .announcment {
      background-color: black;
      max-width: 100%;
      height: 35px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      text-align: center;
  }

  .announcment a {
      font-size: 12px;
      font-weight: 700;
      word-spacing: 3px;
      text-decoration: none;
      color: white;
  }

  /* NAVBAR */
  .navbar {
      max-width: 100%;
      max-height: 50px;
      display: flex;
      align-items: center;
      background-color: white;
      position: sticky;
      top: 0;
  }
  .logo {
      color: black;
      text-decoration: none;
      font-weight: 600;
      font-size: 20px;
      margin-left: 20px;
      margin-right: 30px;
      letter-spacing: 2px;
  }

  .navlinks {
      display: flex;
      gap: 10px;
      align-items: center;
      gap: 20px;
  }

  .navlinks a {
      color: black;
      text-decoration: none;
      font-weight: bold;
      font-size: 12px;
      letter-spacing: 1px;
  }

  .bttn button {
      background: transparent;
      border: none;
  }

  .bttn {
      margin-right: 20px;
  }

  /* banner */
  .banner {
      width: 100%;
      height: auto;
  }

  .video video {
      width: 100%;
      z-index: -1;

  }

  .linkvideo {
      text-decoration: none;
      color: white;
      font-weight: 500;
      font-size: 30px;
  }

  /* collections */
  .collections {
      display: flex;
      flex-direction: row;
      row-gap: 0;

  }

  .col {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .collimg {
      height: 490px;
      width: 416px;
      z-index: -1;
  }

  .collimg {
      position: relative;
  }

  .linkcol {
      position: absolute;
  }

  .linkcol {
      text-decoration: none;
      color: white;
      font-weight: 500;
      font-size: 30px;
  }

  .banner2 {
      width: 100%;
      height: 140vh;
      background-image: url(b2.jpeg);
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
  }

  .b2txt1 a {
      color: white;
      font-size: 48px;
      text-decoration: none;
  }


  .banner2 button {
      border: none;
      background: transparent;
      color: white;
      font-size: 12px;
      font-weight: bold;
      border-bottom: 2px solid white;
  }

  .banner3 {
      width: 100%;
      height: 140vh;
      background-image: url(b3.jpeg);
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
  }

  .b3txt1 a {
      color: white;
      font-size: 48px;
      text-decoration: none;
  }

  .banner3 button {
      border: none;
      background: transparent;
      color: white;
      font-size: 12px;
      font-weight: bold;
      border-bottom: 2px solid white;
  }

  .dropdown1 {
      max-width: 100%;
      height: 350px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;


  }

  .dropdown1 li {
      list-style: none;
      margin-bottom: 5px;
  }

  .dropdown1 a {
      text-decoration: none;
      color: black;
      font-size: 13px;
      padding-bottom: 5px;
  }

  .dp1 {
      display: none;
      background-color: white;
      width: 100%;
  }

  .dp2 {
      display: none;
      background-color: white;
      width: 100%;
  }

  .dp3 {
      display: none;
      background-color: white;
      width: 100%;
  }

  .dp4 {
      display: none;
      background-color: white;
      width: 100%;
  }

  .dp5 {
      display: none;
      background-color: white;
      width: 100%;
  }
  .dropdown1 .smalcrn-sizes img{
    width: 400px; 
    height: 330px;
  }

  .dropdown3 {
      max-width: 100%;
      height: 350px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

  }

  .dropdown3 li {
      list-style: none;
      margin-bottom: 5px;
  }

  .dropdown3 a {
      text-decoration: none;
      color: black;
      font-size: 13px;
      padding-bottom: 5px;
  }

  .dorpdowncurr {
      width: 350px;
      height: 500px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      text-align: start;
      align-items: center;
      padding-left: 20px;
      padding-right: 20px;
      display: none;
      background-color: white;
      padding-top: 30px;
      position: absolute;
      right: 0; 

  }

  .currencySelector {
      width: 300px;
      height: 40px;
      /* background: transparent; */
      border: none;
      outline: none;
      border-bottom: 1px solid black;
  }

  .currencybtn {
      background-color: black;
      color: whitesmoke;
      text-align: center;
      font-weight: bold;
      width: 300px;
      margin-top: 30px;
  }

  .dropdownuser {
      width: 350px;
      height: 500px;
      right: 0;
      display: flex;
      flex-direction: column;
      gap: 30px;
      text-align: start;
      align-items: center;
      padding-left: 20px;
      padding-right: 20px;
      display: none;
      background-color: white;
      position: absolute;
      right: 0;
      
  }

  .loginuser {
      background-color: black;
      color: whitesmoke;
      text-align: center;
      font-weight: bold;
      width: 320px;
      height: 30px;
      margin-top: 40px;
  }

  .userformlogin {
      display: flex;
      flex-direction: column;
      position: relative;
  }

  .userformlogin input {
      border: none;
      border-bottom: 1px solid black;
      outline: none;
  }

  .userformsignup {
      display: flex;
      flex-direction: column;
      position: absolute;
      display: none;
      margin-right: 10px;
  }

  .userformsignup input {
      border: none;
      border-bottom: 1px solid black;
      outline: none;
      width: 100%;
  }

  .btns {
      display: flex;
      flex-direction: row;
      gap: 40px;
      margin-top: 50px;
      margin-bottom: 30px;
  }

  .btns button {
      background: transparent;
      border: none;
      outline: none;
      font-size: 13px;
      font-weight: bold;
  }


  /* responsive mobile */
  @media only screen and (max-width: 1024px) {
      .announcment {
          display: flex;
          justify-content: center;
          height: 40px;
      }

      .navlinks a {
          display: none;
      }

      .bttn button {
          display: none;
      }

      .navbar .menuitem {
          display: block;
      }

      .video2 {
          display: block;
      }

      .menuitem {
          background: transparent;
          border: none;
          outline: none;
          width: 30px;
          display: flex;
      }

      .menuitem2 {
          background: transparent;
          border: none;
          outline: none;
          width: 30px;
          display: none;
      }

      .navbar {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          height: 60px;
          position: sticky;
          top: 0;
          padding: 0;
          margin: 0;
      }

      .logo {
          font-weight: bolder;
          padding: 0;
          margin: 0;
          width: 80%;
          display: flex;
          text-align: center;
          align-items: center;
          justify-content: center;
          margin-left: 40px;
      }

      .video {
          display: none;
      }

      .banner {
          max-width: 100%;
          height: 850px;
      }

      .video2 {
          width: 100%;
          height: 100%;
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          align-items: center;

      }

      .smvideo {
          width: 100%;
          height: 100%;
          z-index: -1;

      }

      .a1 {
          position: absolute;
          display: flex;
          flex-direction: column;
          gap: 20px;
      }

      .linkvideosm {
          color: white;
          font-weight: bold;
          font-size: 30px;
          text-decoration: none;
      }

      .linkvideosm2 {
          color: white;
          font-weight: bold;
          font-size: 20px;
          text-decoration: none;
          text-decoration: underline;
      }

      .collections {
          display: flex;
          flex-direction: row;
      }

      .collimg {
          height: 400px;
          width: 335px;
      }

      .banner2 {
          max-width: 100%;
          height: 800px;
      }

      .banner3 {
          max-width: 100%;
          height: 750px;
      }
      /* .drop{
        display: block;
      } */
      .drop{
        background-color: whitesmoke;
        display: flex;
        flex-direction: column;
        width: 37%;
        position: absolute;
        height: 95vh;
        display: none;
        z-index: 1;
      }
      .dlink{
        border: none;
        outline: none;
        background: none;
        width: 100%;
        height: 66px;
        font-weight: bold;
        font-size: 14px;
        letter-spacing: 2px;
        padding-left: 25px;
        padding-right: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgb(173, 173, 173);
        gap: 0;
      }
      .navlinksdrop{
        display: flex;
        flex-direction: column;
        gap: 0px;
      }
      navlinksdrop a {
        color: black;
        text-decoration: none;
        /* font-weight: bold; */
        font-size: 16px;
     letter-spacing: 1px;
      }
  
    .bttndrop button {
        background: transparent;
        border: none;
    }
    .btndr button {
        background: transparent;
        border: none;
    }
  .btndr input{
    height: 100%;
    width: 90%;
    border: none;
    outline: none;

  }
  .btndr{
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: white;
    border-bottom: 1px solid black;
  }
  .bttndrop{
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
 .bttndrop span{
    font-size: 12px;
    font-weight: bold;
 }
  .bttndrop button{
    width: 100%;
    height: 40px;
    text-align: left;
    padding-left: 25px;
  }
  .dp1{
    display: none;

  }


  }

  @media only screen and (max-width: 540px) {
    .announcment {
        width: 100%;
    }
    
    
    .navbar .logo {
        margin: 0;
    }
    
    .video2{
        display: none;
    }
    
    .vedio3 {
        display: block;
    }
    
    .banner {
        max-width: 100%;
        max-height: 62vh;
    }
    
    .video3 {
        max-width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    
    }
    
    .mbvideo {
        max-width: 100%;
        height: 62vh;
        z-index: -1;
    
    }
    
    .a2 {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .a1 {
        display: none;
    }
    
    .linkvideosm {
        color: white;
        font-weight: bold;
        font-size: 30px;
        text-decoration: none;
    }
    
    .linkvideosm2 {
        color: white;
        font-weight: bold;
        font-size: 20px;
        text-decoration: none;
        text-decoration: underline;
    }
    .banner2 {
        width: 100%;
        height: 75vh;
        background-image: url(qfie.png);
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .b2txt1 a {
        font-size: 30px;
    }
    
    .banner3 {
        width: 100%;
        height: 75vh;
        background-image: url(banner3mb.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }
    
    .b3txt1 a {
        font-size: 30px;
        color: white;
    }
    .collections{
        display: none;
      }
      .collections-slider{
        display: block;
      }
      .collections-slider {
        display: flex;
        flex-direction: row;
        row-gap: 0;
        /* width: 100%; */
        overflow-x: hidden;
  
    }
   
    /* .col {
       display: flex;
       justify-content: center;
       align-items: center;
       text-align: center;
    } */
  
   .collimg {
    height: 400px;
    width: 100%;
        z-index: -1;
    }
  
    .collimg {
        position: relative;
    }
  
    .linkcolslider {
        position: absolute;
    }
  
    .linkcolslider {
        text-decoration: none;
        color: white;
        font-weight: 500;
        font-size: 30px;
    }
    .slick-track {
        display: flex;
      }
      .slick-track .slick-slide {
        display: flex;
        height: auto;
        align-items: center;
        justify-content: center;
      }
      .drop{
        background-color: whitesmoke;
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        height: 95vh;
        display: none;
        z-index: 1;
      }
      .dlink{
        border: none;
        outline: none;
        background: none;
        width: 100%;
        height: 66px;
        font-weight: bold;
        font-size: 14px;
        letter-spacing: 2px;
        padding-left: 25px;
        padding-right: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgb(173, 173, 173);
        gap: 0;
      }
      .navlinksdrop{
        display: flex;
        flex-direction: column;
        gap: 0px;
      }
      .navlinksdrop a {
        color: black;
        text-decoration: none;
        /* font-weight: bold; */
        font-size: 16px;
     letter-spacing: 1px;

    }
  
    .btndr button {
        background: transparent;
        border: none;
    }
  .btndr input{
    height: 100%;
    width: 90%;
    border: none;
    outline: none;

  }
  .btndr{
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: white;
    border-bottom: 1px solid black;
  }
  .bttndrop{
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
 .bttndrop span{
    font-size: 12px;
    font-weight: bold;
 }
  .bttndrop button{
    width: 100%;
    height: 40px;
    text-align: left;
    padding-left: 25px;
  }
  .dp1{
    /* display: none; */
    position: absolute;
    /* display: block; */
    
  }
  .dropdown1{
    overflow: auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-color: whitesmoke;
    width: 100%;
    height: 90vh;
    gap: 20px;
  }
  .dropdown1 .smalcrn-sizes1 {
    width: 90%;
    height: 300px;
  }
  .COLLECTIONS{
    margin-left: 30px;
  }
  .newnow{
    margin-left: 30px;
  }
  }